@{ 
    ViewBag.Title = "Success";
}

@using InsuranceQuote.ViewModels

@model InsuranceQuote.Models.Quote

<div>
    @Html.DisplayNameFor(model => model.FirstName)
    @Html.DisplayNameFor(model => model.LastName)
    @Html.DisplayNameFor(model => model.Quote1)
</div>
<h2>Success</h2>
<h3>Your monthly payment will be $ .</h3>

